$env:CLERK_ISSUER = "https://viable-quail-77.clerk.accounts.dev"
$env:SPRING_DATASOURCE_URL = "jdbc:postgresql://aws-0-eu-north-1.pooler.supabase.com:6543/postgres?sslmode=require"
$env:SPRING_DATASOURCE_USERNAME = "postgres.dekzkiswwallkhfiwpyx"
$env:SPRING_DATASOURCE_PASSWORD = "8KsXtLtaUjgIyi44"


echo $env:SPRING_DATASOURCE_URL
echo $env:SPRING_DATASOURCE_URL
echo $env:SPRING_DATASOURCE_USERNAME
echo $env:SPRING_DATASOURCE_USERNAME
echo $env:SPRING_DATASOURCE_PASSWORD